<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

</head>

<body>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/loginpage">Sign in</a>
               
            </div>

        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/assets/img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt=""></a>
            <a href="cart"><img src="/assets/img/icon/cart.png" alt=""> <span>0</span></a>
            <a href="/userprofile"><img style="width: 2em;" src="/assets/img/icon/download.png" alt=""> </a>
            <div class="price"></div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li class="active"><a href="/products">Shop</a>
                            </li>
                            <li><a href="order">Orders</a>
                            </li>
                            <li><a href="/contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/assets/img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt=""></a>
                        <a href="cart"><img src="/assets/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <section class="shop-details" style="background-color: #ecece4;">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/">Home</a>
                            <a href="/products">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <style>
                    .rounded-img {
                        border-radius: 10%;                   
                        overflow: hidden;                  
                        width: 100px;                     
                        height: 100px;                    
                        background-size: cover;                    
                        background-position: center;
                    }
                </style>
              <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <% if(typeof product!=='undefined' ) {%>
                            <% product.image.forEach( (image)=> { %>
                                <div class="item">
                                    <div class="product-entry border" id="image-zoom">
                                        <a  class="prod-img"   onmouseover="changeBigImage('<%= image %>')">
                                            <img src="/productImages/<%= image %>"
                                                style="height: 10vw;padding:5px;" alt="">
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                   
                        <!-- <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-2" role="tab" aria-selected="true">
                                <div class="product__thumb__pic set-bg xzoom"
                                    data-setbg="/productimages/<%= product.image[1] %>"
                                    style="background-image: url('/productimages/<%= product.image[1] %>');">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-selected="false">
                                <div class="product__thumb__pic set-bg"
                                    data-setbg="/productimages/<%= product.image[2] %>"
                                    style="background-image: url('/productimages/<%= product.image[2] %>');">
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img id="bigImage" style="width: 27rem; height: 32rem;" src="/productimages/<%= product.image[1] %>"
                                    alt="" class="xzoom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>
                                <%= product.productname %>
                            </h4>
                            <h3>₹<%=product.price %>.00</h3>
                            <h4>
                                <%=product. description%>
                            </h4>
                            <div class="product__details__cart__option card_area ">
                                <a class="primary-btn" onclick="addcart('<%=product._id %>')"
                                    style="color: aliceblue;">Add to Cart</a>
                            </div>
                            <div class="product__details__btns__option">
                                <a onclick="addwish('<%=product._id %>')"><i class="fa fa-heart"></i> add to
                                    wishlist</a>
                            </div>

                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="/productimages/details-payment.png" alt="">
                                <h4>category: <%=product.category.category%>
                                </h4>
                                <ul>
                                    <li><span>SKU:</span>64428241eda784242d684c8f</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </section>


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/assets/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/assets/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/zoom/zoom.js"></script>
    <script>
        function changeBigImage(imageSrc) {
            console.log(imageSrc);
            var bigImageElement = document.getElementById('bigImage');
            bigImageElement.src = "/productImages/" + imageSrc;
        }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".xzoom").imagezoomsl({
                zoomrange: [3, 2]
            })
        })

    </script>

    <script>
        const addcart = function (id) {
            $.ajax({
                url: "/addtocart",
                method: 'post',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Saved cart!',
                            text: 'You clicked the button!',
                        });
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Please Login',
                            text: 'Please Login to your account',
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while making the request.',
                    });
                }
            });
        }
    </script>
    <script>
        const addwish = function (id) {
            $.ajax({
                url: "/addtowishlist",
                method: 'get',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.status) {
                        Swal.fire(
                            'Saved Wishlist!',
                            'You clicked the button!',
                            'success'
                        );
                    } else {
                        Swal.fire(
                            'Product Already in Wishlist!',
                            'This product is already in your wishlist.',
                            'info'
                        );
                    }

                }
            });
        }
    </script>




</body>

</html>