<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">


    <style>
        /* Add styling to the .prd-bottom container */
        .prd-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        /* Style the social-info anchors */
        .prd-bottom .social-info {
            text-decoration: none;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
        }

        /* Style the social-info icons */
        .prd-bottom .social-info span {
            font-size: 24px;
        }

        /* Style the hover-text */
        .prd-bottom .hover-text {
            margin-top: 5px;
            font-size: 12px;
        }


        /* Custom CSS to remove the bullet points from the list items */
        .list-group-item {
            list-style: none;
            padding-left: 0;
        }

        .list-group-item a {
            text-decoration: none;
            color: #333;
        }

        .list-group-item a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body style="background-color: white;">


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/loginpage">Sign in</a>

            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/assets/img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt=""></a>
            <a href="cart"><img src="/assets/img/icon/cart.png" alt=""> <span>0</span></a>
            <a href="/userprofile"><img style="width: 2em;" src="/assets/img/icon/download.png" alt=""> </a>
            <div class="price"></div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/products">Shop</a>


                            </li>
                            <li><a href="/order">Orders</a>


                            <li><a href="/contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/assets/img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt=""></a>
                        <a href="cart"><img src="/assets/img/icon/cart.png" alt=""> <span>0</span></a>
                        <a href="/userprofile" style="width: 12%;"><img src="/assets/img/icon/download.png" alt=""></a>



                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Wishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>

                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Cart</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(typeof data2=='undefined' ){ %>
                                    <% data.forEach(function(product,index){ %>



                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img style="width:5rem;height:5rem;"
                                                        src="/productimages/<%=product.productId.image[0] %>" alt="">
                                                </div>
                                            </td>

                                            <td class="product__cart__item__text">
                                                <%=product.productId.productname%>
                                            </td>
                                            <td class="product__cart__item__text">
                                                <%=product.productId.price%>
                                            </td>
                                            <td class="cart__close">
                                                <a href="#" class="genric-btn danger circle" id="add"
                                                    onclick="addcart('<%= product.productId._id%>')">
                                                    <i class="fa fa-shopping-cart"
                                                        style="color: #111111; background: #f3f2ee;"></i>
                                                </a>
                                            </td>
                                            <td class="cart__close">
                                                <a href="#" class="genric-btn danger circle" id="delete"
                                                    onclick="deletewhishlist('<%= product.productId._id%>')">
                                                    <i class="fa fa-close"
                                                        style="background: #f3f2ee; color: black;"></i>
                                                </a>
                                            </td>
                                        </tr>




                                        <% }) %>
                                            <% } else{ %>
                                                <span>Wishlist Empty</span>

                                                <% } %>



                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">



                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-4">




                </div>
            </div>
        </div>
    </section>



    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/assets/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/assets/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const addcart = function (id) {
            $.ajax({
                url: "/addtocart",
                method: 'post',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire(
                            'Saved cart!',
                            'You clicked the button!',
                            'success'
                        )
                    } else {
                        swal.fire("please Login to your account")
                    }
                }

            })
        }
        function decrementQtyAndUpdate(userId, productId) {
            const inputElem = document.getElementById(productId);
            inputElem.stepDown();
            inputElem.dispatchEvent(new Event('change'));
        }

        function incrementQtyAndUpdate(userId, productId) {
            const inputElem = document.getElementById(productId);
            inputElem.stepUp();
            inputElem.dispatchEvent(new Event('change'));
        }

    </script>

    <script>

        function deletewhishlist(id) {
            $.ajax({
                url: "/deletewish",
                method: "post",
                encoded: true,
                data: {
                    id: id
                }
            }).done((data) => {
                console.log(data);
                if (data.success === true) {
                    window.location.reload()
                }
            })
        }

    </script>
    <script>
        function changeqty(userId, productId, price) {
            const priced = price
            const value = parseInt(document.getElementById(productId).value)
            if (value < 1) {
                alert("Please enter a positive number")
            } else {

                $.ajax({
                    url: '/changeQty',
                    data: {
                        user: userId,
                        product: productId,
                        value: value,
                    },
                    method: 'post',
                    encoded: true,
                }).done((data) => {
                    if (data.success) {
                        location.reload()
                    } else {
                        swal("Oops!", "Out of stock", "error");
                    }
                })
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</body>

</html>